 /* Estilos gerais do corpo da página */
 body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(
        135deg,
        #f9f9f9,
        #ffcb8b3c
    );
    background-color: rgba(255, 105, 0, 0.5);
    
}

/* Estilos para o cabeçalho */
header {
    height: 75px;
    transition: height 0.5s ease;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5); /* Background do header com opacidade 0.5 */
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; /* Header sobreposto ao carrossel */
}


.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%; /* Ajuste o tamanho da imagem em relação à altura do header */
}

.header-logo img {
    height: 75%; /* Altura da imagem em relação ao header */
}

.header-menu {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.header-menu li{
    margin-left: 4em;
    display: inline;
}

.header-menu a {
    text-decoration: none;
    color: #fff; /* Cor do texto do menu em branco */
    font-size: 16px;
}

.header-menu ul {
    margin-bottom: 0em;
}
/* Estilização dos links do menu quando passa o mouse por cima */
.header-menu a:hover {
    color: #ffa216
}

/* Estilização dos links do menu ativos (página atual) */
.header-menu a.active {
    font-weight: bold;
}

.header-search {
    display: flex;
    width: 30%;
    justify-content: center;
}

header.header-scroll {
    height: 55px;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;

}


header.header-scroll img {
    transition: transform 0.5s ease;
}

.input-search {
    display: flex;
}

.search-box {
    position: relative;
    width: 45%;
}

.search-box input[type="search"] {
    width: 100%;
    padding-right: 50px; /* Espaçamento para não sobrepor o ícone de lupa */
    border-radius: 18px; /* Arredondar as bordas */
}

.search-box button {
    position: absolute;
    color: #343030c9;
    top: 50%;
    right: 5px;
    transform: translateY(-50%); /* Centralizar verticalmente */
    background-color: transparent;
    border: none;
    cursor: pointer;
}



.home{                          /*estilo pagina home*/

}

/* Estilos para o contêiner do carrossel */
.carousel-container {
    position: relative;
    height: 670px; /* Altura do carrossel */
    overflow: hidden; /* Esconde as partes do carrossel fora do container */
    z-index: 0; /* Carrossel abaixo do menu */
}

/* Estilos para o carrossel */
#carouselExampleIndicators {
    position: absolute;
    top: 0;
    width: 100%; /* Largura total do carrossel */
    height: 100%; /* Altura total do carrossel */
}

/* Estilos para as imagens do carrossel */
.carousel-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Redimensiona a imagem para ocupar todo o espaço disponível */
}

/* Estilos PRODUTO */
.main-container{
    width: 90%;
    margin:auto;
    min-height: 100px;
}
.main-produtos {
    margin-top: 50px;
    
}

.hr {
    margin-top: 3em;
}
container-produtos{
    background-color: #d6700f;
    height: 100vh;
    display: grid;
    place-items: center center;
    font-family: 'Poppins',sans-serif;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    padding: 20px;
    grid-gap: 40px;
}
.card{
    position: relative;
    background: 
    linear-gradient(
        
            135deg,
            #a04c0069,
            #e3670b00
        ),
        url(Imagens/home/Produtos/fundoCobre.avif);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
}
.cards .container{
    border-radius: 0px 0px 20px 20px;
    position: relative;
}
.card .container img{
    width: 100%;
    display: block;

}
.cards .container:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
}   
.cards .container{
    background-image: linear-gradient(
        135deg,
        #000000ed,
        #492916d4
    );
}
.header-card-produto{
    padding: 20px 10px;
}
.header-card-produto>h2{
    color: #fefefee8;
    margin: 10px 0 15px 0;
    text-align: center;
}
.header-card-produto>p{
    color: #a0a0a0;
    line-height: 30px;
    font-weight: 400;
}

/*fim estido cards*/

.localizacao-container{
    width: 100%;
    margin-top: 30px;
    background:
        linear-gradient(
        rgba(39, 37, 37, 0.681),rgba(56, 48, 48, 0.255)
        ),
        url(Imagens/home/Localizacao/Perini-Business-Park-1.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
}

.localizacao .row {
    width: 90%;
    margin: auto;
    padding: 40px 0 80px 0;
}

.localizacao .icon-blue {
    font-size: 24px;
    color: #007bff;
    margin-right: 10px;
}
        
        /* Aumentar o tamanho e espaçamento do texto */
.localizacao .text-large {
    font-size: 16px;
    letter-spacing: 1px;
}

ul {
    list-style-type: none;
}

.localizacao .col-md-6 {
    margin: auto;
}

.localizacao .lista-Principal {
    width: 95%;
    color: white;
    background-color: #000000BA;
    padding: revert;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
}

.localizacao .lista-Principal li {
    margin-bottom: 15px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-image: linear-gradient(
        283deg, #723a05b3, #462304
    );
}

.sobre{                     /*estilo pagina sobre*/
    
}

.produtos{                  /*estilo pagina produtos*/
   
}


.maxhimg{                     /*defir tamanho da imagem*/
    max-height: 700px;  
    width: 100%;
}

.contato {            /*estilo pagina contato*/
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    

}


.btn-hover-cont {               /*hover botao contato*/
    transition: all 0.3s ease; 
    box-shadow: none; 
}

.btn-hover-cont:hover {         /*hover botao contato*/
    background-color: #5a5a5a; 
    color: #ff6900; 
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); 
}

.custom-color{
    border-color: #ff6900
}